In [2]:
import pandas as pd

In [3]:
Dataset = pd.read_csv('kidney_disease.csv')

In [4]:
Dataset.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [6]:
Dataset.shape

(400, 26)

In [8]:
#checking null values
Dataset.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [9]:
#checking all data fream of null values
Dataset[Dataset.isnull()]

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#checking null values for a spacific column
Dataset[Dataset.age.isnull()]

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
30,30,NaN,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,yes,no,good,no,no,ckd
73,73,NaN,100.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,14,6300,NaN,yes,no,no,good,yes,yes,ckd
112,112,NaN,60.0,1.015,3.0,0.0,abnormal,abnormal,notpresent,notpresent,...,33,NaN,NaN,no,no,no,good,no,no,ckd
116,116,NaN,70.0,1.015,4.0,0.0,abnormal,normal,notpresent,notpresent,...,NaN,NaN,NaN,no,no,no,good,yes,no,ckd
117,117,NaN,70.0,1.020,0.0,0.0,NaN,NaN,notpresent,notpresent,...,37,9800,4.4,no,no,no,good,no,no,ckd
169,169,NaN,70.0,1.010,0.0,2.0,NaN,normal,notpresent,notpresent,...,27,NaN,NaN,yes,yes,no,good,no,yes,ckd
191,191,NaN,70.0,1.010,3.0,0.0,normal,normal,notpresent,notpresent,...,26,9200,3.4,yes,yes,no,poor,no,no,ckd
203,203,NaN,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,yes,no,good,no,yes,ckd
268,268,NaN,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,53,8500,4.9,no,no,no,good,no,no,notckd

In [12]:
#drop row if any of this has null value
Dataset.dropna(how = 'any')

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,...,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,...,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,24,9200,3.2,yes,yes,yes,poor,yes,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [13]:
#drop row when all has null value
Dataset.dropna(how = 'all')

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [17]:
#drop row for spasific column
Dataset.dropna(subset=['age','bp'], how = 'any')

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [18]:
#indexing
#select spesific row and all column
Dataset.loc[1, : ]

id                         1
age                      7.0
bp                      50.0
sg                      1.02
al                       4.0
su                       0.0
rbc                      NaN
pc                    normal
pcc               notpresent
ba                notpresent
bgr                      NaN
bu                      18.0
sc                       0.8
sod                      NaN
pot                      NaN
hemo                    11.3
pcv                       38
wc                      6000
rc                       NaN
htn                       no
dm                        no
cad                       no
appet                   good
pe                        no
ane                       no
classification           ckd
Name: 1, dtype: object

In [23]:
#select all rows but specific colum
Dataset.loc[  : ,'pc']

0        normal
1        normal
2        normal
3      abnormal
4        normal
         ...
395      normal
396      normal
397      normal
398      normal
399      normal
Name: pc, Length: 400, dtype: object

In [29]:
#for multiple columns
Dataset.loc[ : ,['age','bp','pc','hemo']]

      age    bp        pc  hemo
0    48.0  80.0    normal  15.4
1     7.0  50.0    normal  11.3
2    62.0  80.0    normal   9.6
3    48.0  70.0  abnormal  11.2
4    51.0  80.0    normal  11.6
..    ...   ...       ...   ...
395  55.0  80.0    normal  15.7
396  42.0  70.0    normal  16.5
397  12.0  80.0    normal  15.8
398  17.0  60.0    normal  14.2
399  58.0  80.0    normal  15.8

[400 rows x 4 columns]

In [30]:
#checking by specific value of a series
Dataset.loc[Dataset.pc=='abnormal', : ]

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
7,7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
10,10,50.0,60.0,1.010,2.0,4.0,NaN,abnormal,present,notpresent,...,28,NaN,NaN,yes,yes,no,good,no,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,242,69.0,70.0,1.010,4.0,3.0,normal,abnormal,present,present,...,28,11500,3.3,yes,yes,yes,good,yes,yes,ckd
244,244,64.0,90.0,1.015,3.0,2.0,NaN,abnormal,present,notpresent,...,40,9800,4.6,yes,yes,no,good,no,yes,ckd
247,247,54.0,90.0,1.025,1.0,0.0,normal,abnormal,notpresent,notpresent,...,NaN,NaN,NaN,no,no,no,poor,yes,yes,ckd
248,248,59.0,70.0,1.010,1.0,3.0,abnormal,abnormal,notpresent,notpresent,...,37,10200,4.1,yes,yes,yes,good,no,no,ckd
249,249,56.0,90.0,1.010,4.0,1.0,normal,abnormal,present,notpresent,...,9,5400,2.1,yes,yes,no,poor,yes,yes,ckd

In [35]:
Dataset.loc[Dataset.pc=='abnormal','appet' ]

3      poor
7      good
8      good
9      poor
10     good
       ...
242    good
244    good
247    poor
248    good
249    poor
Name: appet, Length: 76, dtype: object

In [39]:
Dataset.loc[ :, ['age','bp','pc']]

      age    bp        pc
0    48.0  80.0    normal
1     7.0  50.0    normal
2    62.0  80.0    normal
3    48.0  70.0  abnormal
4    51.0  80.0    normal
..    ...   ...       ...
395  55.0  80.0    normal
396  42.0  70.0    normal
397  12.0  80.0    normal
398  17.0  60.0    normal
399  58.0  80.0    normal

[400 rows x 3 columns]

In [4]:
#creating dummy variable
pd.get_dummies(Dataset.pc)

     abnormal  normal
0           0       1
1           0       1
2           0       1
3           1       0
4           0       1
..        ...     ...
395         0       1
396         0       1
397         0       1
398         0       1
399         0       1

[400 rows x 2 columns]

In [13]:
#taking one row from dummy 
PcDummies = pd.get_dummies(Dataset.pc, prefix ='pc').iloc[ : ,1:]

In [14]:
# passing dummy series on a datafream
Dataset = pd.concat([Dataset,PcDummies], axis=1)

In [15]:
Dataset.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,wc,rc,htn,dm,cad,appet,pe,ane,classification,pc_normal
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,7800,5.2,yes,yes,no,good,no,no,ckd,1
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,6000,NaN,no,no,no,good,no,no,ckd,1
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,7500,NaN,no,yes,no,poor,no,yes,ckd,1
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,6700,3.9,yes,no,no,poor,yes,yes,ckd,0
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,7300,4.6,no,no,no,good,no,no,ckd,1

In [17]:
#passing a data fream on a series
#just selecting one column of dummy
pd.get_dummies(Dataset, columns = ['pc', 'appet'], drop)

,id,age,bp,sg,al,su,rbc,pcc,ba,bgr,...,dm,cad,pe,ane,classification,pc_normal,pc_abnormal,pc_normal,appet_good,appet_poor
0,0,48.0,80.0,1.020,1.0,0.0,NaN,notpresent,notpresent,121.0,...,yes,no,no,no,ckd,1,0,1,1,0
1,1,7.0,50.0,1.020,4.0,0.0,NaN,notpresent,notpresent,NaN,...,no,no,no,no,ckd,1,0,1,1,0
2,2,62.0,80.0,1.010,2.0,3.0,normal,notpresent,notpresent,423.0,...,yes,no,no,yes,ckd,1,0,1,0,1
3,3,48.0,70.0,1.005,4.0,0.0,normal,present,notpresent,117.0,...,no,no,yes,yes,ckd,0,1,0,0,1
4,4,51.0,80.0,1.010,2.0,0.0,normal,notpresent,notpresent,106.0,...,no,no,no,no,ckd,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,notpresent,notpresent,140.0,...,no,no,no,no,notckd,1,0,1,1,0
396,396,42.0,70.0,1.025,0.0,0.0,normal,notpresent,notpresent,75.0,...,no,no,no,no,notckd,1,0,1,1,0
397,397,12.0,80.0,1.020,0.0,0.0,normal,notpresent,notpresent,100.0,...,no,no,no,no,notckd,1,0,1,1,0
398,398,17.0,60.0,1.025,0.0,0.0,normal,notpresent,notpresent,114.0,...,no,no,no,no,notckd,1,0,1,1,0
399,399,58.0,80.0,1.025,0.0,0.0,normal,notpresent,notpresent,131.0,...,no,no,no,no,notckd,1,0,1,1,0